<div class="item-<%= specifiedFruit_counter %>">
	<div id="name"><%= specifiedFruit.name %></div>
	<div id="location">Market &nbsp; &#58;<%= specifiedFruit.trade_location %></div>
	<div id="middleprice">Middle Price &nbsp; &#58;<%= specifiedFruit.middle_price %></div>
	<div id="upperprice">Upper Price &nbsp; &#58;<%= specifiedFruit.upper_price %></div>
	<div id="averageprice">Average Price &nbsp; &#58;<%= specifiedFruit.average_price %></div>
	<div id="lowerprice">Lower price &nbsp; &#58;<%= specifiedFruit.lower_price %></div>
	<div id="quantity">Quantity &nbsp; &#58;<%= specifiedFruit.trade_quantity %></div>
	<div id="code">Code &nbsp; &#58;<%= specifiedFruit.code %></div>
	<div id="kind">Kind &nbsp; &#58;<%= specifiedFruit.kind %></div>
	<div id="date">Date &nbsp; &#58;<%= specifiedFruit.transaction_date %></div>
</div>
