<div class="item-<%= specifiedVegetable_counter %>">
	<div id="name"><%= specifiedVegetable.name %></div>
	<div id="location">Market &nbsp; &#58;<%= specifiedVegetable.trade_location %></div>
	<div id="middleprice">Middle Price &nbsp; &#58;<%= specifiedVegetable.middle_price %></div>
	<div id="upperprice">Upper Price &nbsp; &#58;<%= specifiedVegetable.upper_price %></div>
	<div id="averageprice">Average Price &nbsp; &#58;<%= specifiedVegetable.average_price %></div>
	<div id="lowerprice">Lower price &nbsp; &#58;<%= specifiedVegetable.lower_price %></div>
	<div id="quantity">Quantity &nbsp; &#58;<%= specifiedVegetable.trade_quantity %></div>
	<div id="code">Code &nbsp; &#58;<%= specifiedVegetable.code %></div>
	<div id="kind">Kind &nbsp; &#58;<%= specifiedVegetable.kind %></div>
	<div id="date">Date &nbsp; &#58;<%= specifiedVegetable.transaction_date %></div>
</div>
