<h1> This trending page contains a chart of vegetables. </h1>


<%= include_gon(:init => true) %>
<%= form_tag root_url, :method => 'get' do %>
	<p>
		<%= text_field_tag "query", params["query"], placeholder: 'Enter item name or date' %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
<div id="chart">
</div>

<%= if !(@overviewVegetables.nil?) then paginate @overviewVegetables end %>

<div class="paginate-info">
	<%= if !(@overviewVegetables.nil?) then page_entries_info @overviewVegetables end %>
</div>

<ul class="show-or-hide-veggie-list">
	 <button type="button" name="btn-veggie-list" id="btn-veggie-list" class="btn-veggie-list">Veggie list
	</button>
</ul>
<ul class="veggie-list">
	<% counter = 1 %>
	<%= form_tag root_url, {:method => 'get', id: "veggie-query"} do %>
	<% @vegetables.each { |element| %>
		<label><%= check_box_tag 'query[]', element.name, false, { class: 'veggie-'+ counter.to_s, id: 'veggie-' + counter.to_s }%> <%= element.name %></label>
		<% counter += 1 %>
	<% } %>
        <% end %>
</ul>

<div class="btn-submit-veggie-query">
	<button type="submit" name="btn-submit-veggie-query" form="veggie-query">送出查詢</button>
</div>
<div id="query-time">
	In recent time: 	
<%= form_tag root_url, {:method => 'get', id: 'filter-veggie-query'} do %>
<select name="query-time" class="query-time" form="filter-veggie-query">
        <option value=""> </option>
	<option value="10">10 Days</option>
	<option value="30">30 Days</option>
	<option value="90">3 Months</option>
	<option value="180">6 Months</option>
	<option value="365">1 Year</option>
	<option value="730">2 Years</option>
	<option value="354">去年農曆同期</option>
</select>
<% end %>
</div>

<div align="center">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 農產品大盤歷史價格 -->
	<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7376532725341712" data-ad-slot="3207209980"></ins>
	<script>
       		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<% if !(@overviewVegetables.nil?) then %>
<div id="css_table">
	<div class="css_tr"> 
		<div class="css_td">Name</div> 
		<div class="css_td">Date</div>
		<div class="css_td">Total average price(NTD)</div>
		<div class="css_td">Total transaction quantity</div>
	</div>
	<% i = 1 %>
	<% @overviewVegetables.each{ |item| %>
		<div class="css_tr">
			<div class="css_td"><div id="itemname-<%= i %>"><%= item.name %></div></div>
			<div class="css_td"><div id="itemdate-<%= i %>"><%= item.date %></div></div>
			<div class="css_td"><div id="itemtotalaverageprice-<%= i %>"><%= item.total_average_price %></div></div>
			<div class="css_td"><div id="itemtotaltransactionquantity-<%= i %>"><%= item.total_transaction_quantity %></div></div>
		</div>	
		<% i += 1 %>
	<% } %>
</div>
<% end %>
<div class="paginate-info">
	<%= if !(@overviewVegetables.nil?) then page_entries_info @overviewVegetables end %>
</div>
<%= if !(@overviewVegetables.nil?) then paginate @overviewVegetables end %>

