<h1> This trending page is overview for vegetables. </h1>

<div id="banner">
	<div id="logo">
	</div>
	<div id="title">
	</div>
</div>

<ul class="navi-bar">
	<li class="about-us">
		<%= link_to 'About us', {controller: "vegetables", action: "about_us"}, id: "about-us", class: "about-us" %>
	</li>

	<li class="bulletin-board">
		<%= link_to "Bulletin Board", {controller: "vegetables", action: "bulletin_board"}, id: "bulletin-board", class: "bulletin-board" %>
	</li>

	<li class="trending">
		<%= link_to "Trending", {controller: "vegetables", action: "trending"}, id: "trending", class: "trending" %>
	</li>
</ul>

<%= include_gon(:init => true) %>
<%= form_tag root_url, :method => 'get' do %>
	<p>
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
<div id="chart">
</div>
<%= javascript_include_tag "vegetables" %>

<%= paginate @vegetables %>
<%= page_entries_info @vegetables %>
<div id="css_table">
	<div class="css_tr"> 
		<div class="css_td">Name</div> 
		<div class="css_td">Code</div> 
		<div class="css_td">Date</div>
		<div class="css_td">Total average price(NTD)</div>
		<div class="css_td">Total transaction quantity</div>
	</div>
	<% i = 1 %>
	<% @vegetables.each{ |item| %>
		<div class="css_tr">
			<div class="css_td"><div id="itemname-<%= i %>"><%= item.name %></div></div>
			<div class="css_td"><div id="itemcode-<%= i %>"><%= item.code %></div></div>
			<div class="css_td"><div id="itemdate-<%= i %>"><%= item.date %></div></div>
			<div class="css_td"><div id="itemtotalaverageprice-<%= i %>"><%= item.total_average_price %></div></div>
			<div class="css_td"><div id="itemtotaltransactionquantity-<%= i %>"><%= item.total_transaction_quantity %></div></div>
		</div>	
		<% i += 1 %>
	<% } %>
</div>
<%= page_entries_info @vegetables %>
<%= paginate @vegetables %>
